{% extends 'oil/base.html' %}

{% block content %}
    <section class="container">
        <div class="achieves">
            <div class="title">
                <h2>Наши партнеры</h2>
            </div>
            <ul>
                {% for i in partners %}
                    <li>
                        <div class="partner-logo">
                            <img src="/media/{{ i.partner_logo }}" alt="">
                        </div>
                        <div class="partner-name">
                            <img src="/media/{{ i.partner_city }}"
                                 alt="Флаг" width="43px"
                                 height="32px" style="background-size: cover; width: 43px; border-radius: 5px">
                            <p class="partner-name-inner">
                                <b>{{ i.partner_name }}</b>
                            </p>
                            <span id="span-toggle" style="position: absolute; right: 15px;" class="toggle">
                                {% if i.partner_info %}
                                    <a href="/partners/{{ i.id }}/{{ lang }}" style="text-decoration: none">
                                        <i class="fa-solid fa-arrow-right" style="color: #ffffff"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ i.partner_url }}" style="text-decoration: none">
                                        <i class="fa-solid fa-arrow-right" style="color: #ffffff"></i>
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}

